In [1]:
#Imports:

import requests
from bs4 import BeautifulSoup
import pandas as pd
from time import sleep
import numpy as np
import re

In [2]:
c = requests.get('https://imoveis.mercadolivre.com.br/aluguel/').content

In [3]:
zonas = ['norte','sul','leste','oeste']
URL='https://imoveis.mercadolivre.com.br/casas/aluguel/sao-paulo/sao-paulo-zona-{}/{}'
paginas=['', '_Desde_49', '_Desde_97', '_Desde_145', '_Desde_193', 
           '_Desde_241', '_Desde_289']

In [4]:
# Functions
def scrap(url):
    c=requests.get(url).content
    soup=BeautifulSoup(c)
    aluguel_tags = soup.find_all('span', {'class':'price-tag-fraction'})
    alugueis_lista = [p.text for p in aluguel_tags]
    enderecos_tags = soup.find_all('span', {'class':'ui-search-item__group__element'})
    enderecos_lista=[end.text for end in enderecos_tags]
    enderecos_lista=enderecos_lista[1::2]
    area_quartos_tags = soup.find_all('ul', {'class':'ui-search-card-attributes'})
    area_quartos_lista=[aq.text for aq in area_quartos_tags]
    df=convert_df(zona, area_quartos_lista, enderecos_lista, alugueis_lista)
    return df

def convert_df(zona, area_quartos_lista, enderecos_lista, alugueis_lista):
    zonas_lista = [zona]*len(alugueis_lista)
    data = {'zona': zonas_lista,
            'area_quartos': area_quartos_lista,
            'enderecos_lista':enderecos_lista,
            'aluguel': alugueis_lista}
    df = pd.DataFrame(data)
    return df

In [5]:
lista_dfs = []
for zona in zonas:
    for pg in paginas:
        url='https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-{}/{}'.format(zona, pg)
        print(url)
        df=scrap(url)
        lista_dfs.append(df)
        sleep(1)

https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_49
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_97
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_145
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_193
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_241
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_289
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_49
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_97
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_145
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_193
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_241
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_289
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_49
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_97
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_145
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_193
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_241
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_289
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_49
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_97
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_145
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_193
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_241
https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_289

In [6]:
df=pd.concat(lista_dfs)
df.head()

,zona,area_quartos,enderecos_lista,aluguel
0,norte,35 m² construídos1 quarto,"Rua Yvorne, Lauzane Paulista, São Paulo Zona N...",930
1,norte,50 m² construídos2 quartos,"Rua Aburá, Sítio Do Mandaqui, São Paulo Zona N...",940
2,norte,74 m² construídos3 quartos,"Rua José Ataliba Ortiz, Vila Mangalot, São Pau...",2.900
3,norte,"7,800 m² construídos","Vila Nova Galvão, São Paulo Zona Norte, São Paulo",27.000
4,norte,94 m² construídos2 quartos,"Rua Amândio Monteiro, Vila Guilherme, São Paul...",1.300

In [7]:
df.to_csv('dados_aluguel_ml_sao_paulo.csv', index=False)

In [7]:
# Funções
def extrair_area(entrada):
  """Criar função que possua como entrada um texto e retorne a área contida no
  mesmo. Retornar np.nan se for ausentes. Alguns exemplos:
      >>> extrair_area('79 m² construídos1 quarto')
      >>> 79
      >>> extrair_area('280 m² construídos')
      >>> 280
      >>> extrair_area('2,600 m² construídos'
      >>> 2600
      >>> extrair_area('2 quartos')
      >>> np.nan
      """
  if ' m²' in entrada:
    area = entrada.split(' m²')[0]
    area = area.replace(',', '')
  else:
    area = np.nan
  return area

def extrair_quartos(entrada):
  """Criar função que possua como entrada um texto e retorne uma tupla com a 
  área e o quarto. Retornar np.nan se um dos dois for ausentes. Alguns exemplos:
      >>> extrair_quarto('79 m² construídos1 quarto')
      >>> 1
      >>> extrair_quarto('280 m² construídos')
      >>> np.nan
      >>> extrair_quarto('2,600 m² construídos'
      >>> np.nan
      >>> extrair_quarto('2 quartos')
      >>> 2"""
  if 'quarto' in entrada:
    n_quartos = re.findall('(\d*) quarto', entrada)[0]
  else:
    n_quartos = np.nan
  return n_quartos

In [8]:
df['area']=df['area_quartos'].apply(extrair_area).astype(float)
df['quartos'] = df['area_quartos'].apply(extrair_quartos).astype(float)

df = df.drop('area_quartos', axis=1)
df.head()

,zona,enderecos_lista,aluguel,area,quartos
0,norte,"Rua Yvorne, Lauzane Paulista, São Paulo Zona N...",930,35.0,1.0
1,norte,"Rua Aburá, Sítio Do Mandaqui, São Paulo Zona N...",940,50.0,2.0
2,norte,"Rua José Ataliba Ortiz, Vila Mangalot, São Pau...",2.900,74.0,3.0
3,norte,"Vila Nova Galvão, São Paulo Zona Norte, São Paulo",27.000,7800.0,NaN
4,norte,"Rua Amândio Monteiro, Vila Guilherme, São Paul...",1.300,94.0,2.0

In [9]:
for i in range(0,20):
    print(df.iloc[i]['enderecos_lista'])

Rua Yvorne, Lauzane Paulista, São Paulo Zona Norte, São Paulo
Rua Aburá, Sítio Do Mandaqui, São Paulo Zona Norte, São Paulo
Rua José Ataliba Ortiz, Vila Mangalot, São Paulo Zona Norte, São Paulo
Vila Nova Galvão, São Paulo Zona Norte, São Paulo
Rua Amândio Monteiro, Vila Guilherme, São Paulo Zona Norte, São Paulo
Rua Jaguarete, Casa Verde, São Paulo Zona Norte, São Paulo
Rua Nicolau Tolentino De Almeida, Vila Dionisia, São Paulo Zona Norte, São Paulo
Rua Manoel Martins Da Rocha, Vila Mangalot, São Paulo Zona Norte, São Paulo
Rua Itaxama, Vila Mangalot, São Paulo Zona Norte, São Paulo
Tucuruvi, São Paulo Zona Norte, São Paulo
Rua José De Almeida, Vila Medeiros, São Paulo Zona Norte, São Paulo
Avenida General Penha Brasil, Vila Nova Cachoeirinha, São Paulo Zona Norte, São Paulo
Rua Manguari, Jardim Andaraí, São Paulo Zona Norte, São Paulo
Rua Manoel Martins Da Rocha, Vila Mangalot, São Paulo Zona Norte, São Paulo
Rua Epaminondas Melo Do Amaral, Sítio Do Mandaqui, São Paulo Zona Norte, São Paulo
Rua Francisco Shigueki Nomura, Imirim, São Paulo Zona Norte, São Paulo
Rua Yvorne, Lauzane Paulista, São Paulo Zona Norte, São Paulo
Vila Nilo, São Paulo Zona Norte, São Paulo
Rua Yvorne, Lauzane Paulista, São Paulo Zona Norte, São Paulo
Rua Tanque Velho, Vila Nivi, São Paulo Zona Norte, São Paulo

In [10]:
df.head()

,zona,enderecos_lista,aluguel,area,quartos
0,norte,"Rua Yvorne, Lauzane Paulista, São Paulo Zona N...",930,35.0,1.0
1,norte,"Rua Aburá, Sítio Do Mandaqui, São Paulo Zona N...",940,50.0,2.0
2,norte,"Rua José Ataliba Ortiz, Vila Mangalot, São Pau...",2.900,74.0,3.0
3,norte,"Vila Nova Galvão, São Paulo Zona Norte, São Paulo",27.000,7800.0,NaN
4,norte,"Rua Amândio Monteiro, Vila Guilherme, São Paul...",1.300,94.0,2.0

In [11]:
df[(df['quartos'].isnull()) & (df['zona'] == 'norte')].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 3 to 29
Data columns (total 5 columns):
zona               15 non-null object
enderecos_lista    15 non-null object
aluguel            15 non-null object
area               15 non-null float64
quartos            0 non-null float64
dtypes: float64(2), object(3)
memory usage: 720.0+ bytes

In [12]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1321 entries, 0 to 47
Data columns (total 5 columns):
zona               1321 non-null object
enderecos_lista    1321 non-null object
aluguel            1321 non-null object
area               1320 non-null float64
quartos            1265 non-null float64
dtypes: float64(2), object(3)
memory usage: 61.9+ KB

,zona,enderecos_lista,aluguel,area,quartos
0,norte,"Rua Yvorne, Lauzane Paulista, São Paulo Zona N...",930,35.0,1.0
1,norte,"Rua Aburá, Sítio Do Mandaqui, São Paulo Zona N...",940,50.0,2.0
2,norte,"Rua José Ataliba Ortiz, Vila Mangalot, São Pau...",2.900,74.0,3.0
3,norte,"Vila Nova Galvão, São Paulo Zona Norte, São Paulo",27.000,7800.0,NaN
4,norte,"Rua Amândio Monteiro, Vila Guilherme, São Paul...",1.300,94.0,2.0

In [97]:
df['aluguel'].shape

(1344,)

In [14]:
#convertendo aluguel para o formato float

df['aluguel'] = df['aluguel'].iloc[:].str.replace('.', '').astype(float)

df['aluguel'].head(10)

AttributeError: Can only use .str accessor with string values!

In [15]:
for zona in zonas:
    print('Dados de quartos faltantes da zona   {} x dados totais da mesma zona'.format(zona))
    print(df[(df['quartos'].isnull()) & (df['zona'] == zona)].describe())
    print(df[df['zona'] == zona].describe())

Dados de quartos faltantes da zona   norte x dados totais da mesma zona
            aluguel         area  quartos
count     15.000000    15.000000      0.0
mean   16942.333333  1141.533333      NaN
std    18077.396785  1965.833079      NaN
min      950.000000    23.000000      NaN
25%     5500.000000   250.000000      NaN
50%    14000.000000   525.000000      NaN
75%    20500.000000   817.000000      NaN
max    75000.000000  7800.000000      NaN
            aluguel         area     quartos
count    313.000000   313.000000  298.000000
mean    2561.706070   124.444089    1.976510
std     5126.178925   478.178432    0.780304
min      500.000000    15.000000    1.000000
25%     1200.000000    48.000000    1.000000
50%     1600.000000    58.000000    2.000000
75%     2300.000000    80.000000    2.000000
max    75000.000000  7800.000000    6.000000
Dados de quartos faltantes da zona   sul x dados totais da mesma zona
       aluguel  area  quartos
count      0.0   0.0      0.0
mean       NaN   NaN      NaN
std        NaN   NaN      NaN
min        NaN   NaN      NaN
25%        NaN   NaN      NaN
50%        NaN   NaN      NaN
75%        NaN   NaN      NaN
max        NaN   NaN      NaN
            aluguel        area     quartos
count    336.000000  336.000000  336.000000
mean    3050.122024   72.229167    1.836310
std     1869.734338   47.761889    0.853434
min      625.000000   13.000000    1.000000
25%     1865.000000   42.000000    1.000000
50%     2599.500000   61.500000    2.000000
75%     3550.000000   85.000000    2.000000
max    15000.000000  500.000000    4.000000
Dados de quartos faltantes da zona   leste x dados totais da mesma zona
            aluguel         area  quartos
count     27.000000    27.000000      0.0
mean    9227.814815   579.925926      NaN
std    12850.730018   847.747419      NaN
min      900.000000    25.000000      NaN
25%     1475.000000    39.000000      NaN
50%     3500.000000   156.000000      NaN
75%    11000.000000   775.000000      NaN
max    55000.000000  3150.000000      NaN
            aluguel         area     quartos
count    336.000000   335.000000  309.000000
mean    2549.348214   117.967164    2.009709
std     4353.272641   279.690283    0.884518
min        1.000000     6.000000    1.000000
25%     1100.000000    44.000000    1.000000
50%     1537.500000    56.000000    2.000000
75%     2400.000000    91.500000    2.000000
max    55000.000000  3150.000000    7.000000
Dados de quartos faltantes da zona   oeste x dados totais da mesma zona
             aluguel         area  quartos
count      14.000000    14.000000      0.0
mean    25196.428571   808.000000      NaN
std     47189.309677  1341.995357      NaN
min       900.000000    30.000000      NaN
25%      5225.000000   211.250000      NaN
50%      7500.000000   297.000000      NaN
75%     17250.000000   550.000000      NaN
max    169000.000000  4536.000000      NaN
             aluguel         area     quartos
count     336.000000   336.000000  322.000000
mean     3942.785714   106.404762    1.894410
std     10531.547468   308.562517    0.980193
min       600.000000    15.000000    1.000000
25%      1600.000000    39.750000    1.000000
50%      2350.000000    60.000000    2.000000
75%      3792.500000    95.000000    2.000000
max    169000.000000  4536.000000    8.000000

*** Primeira conclusão: Quando não está disponível a informação do número de quarto, geralmente é um imóvel com área e preço superior à média. Os outliers de cada zona coincidentemente não tem a informação do número de quartos também.

*** Estratégia: drop NaN

In [16]:
df.dropna(inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1264 entries, 0 to 47
Data columns (total 5 columns):
zona               1264 non-null object
enderecos_lista    1264 non-null object
aluguel            1264 non-null float64
area               1264 non-null float64
quartos            1264 non-null float64
dtypes: float64(3), object(2)
memory usage: 59.2+ KB

# Feature Engineering
Coletando dados de latitude e longitude

In [29]:
from geopy.geocoders import Nominatim

In [26]:
geolocator = Nominatim(user_agent="fabio_paulon")
location = geolocator.geocode("rua Av Virgília Rodrigues Alves De Carvalho Pinto Sao Paulo
")
print((location.latitude, location.longitude))

SyntaxError: EOL while scanning string literal (<ipython-input-26-c5d3e91c4325>, line 2)

In [183]:
for i in range(0,20):
    print(geolocator.geocode(df.iloc[i]['enderecos_lista'.split(',')[0]", São Paulo")]))

AttributeError: 'str' object has no attribute 'concat'

In [140]:
df.to_csv('dados_aluguel_ml_sao_paulo_preprocessado.csv', index=False)

In [19]:
df['rua'] = df['enderecos_lista'].str.split(',')

In [20]:
df['rua']= df['rua'].map(lambda x: x[0])

In [21]:
df['rua'] = 'rua '+ df['rua'] + ' Sao Paulo'

In [22]:
df['rua']

0                        rua Rua Yvorne Sao Paulo
1                         rua Rua Aburá Sao Paulo
2            rua Rua José Ataliba Ortiz Sao Paulo
4              rua Rua Amândio Monteiro Sao Paulo
5                     rua Rua Jaguarete Sao Paulo
                         ...
43      rua Avenida José Joaquim Seabra Sao Paulo
44    rua Rua Doutor Cândido Espinheira Sao Paulo
45             rua Rua Ricardo Cavatton Sao Paulo
46                  rua Avenida Jaguaré Sao Paulo
47     rua Antonio De Almeida Naves 326 Sao Paulo
Name: rua, Length: 1264, dtype: object

In [ ]:
for rua in df['rua'].values:
    try: 
        print(geolocator.geocode(rua).latitude)
    except:
        np.nan()

-23.47203
-23.4850058
-23.4998993
-23.5032118
-23.195376
-23.4679021
-23.4872494
-23.5063353
-23.4922213
-23.4693554
-23.5241575
-23.4872494
-23.490515
-23.4891558
-23.47203
-23.47203
-23.4789442
-23.4807254
-23.5038827
-23.492065
-23.4667598
-23.4943876
-23.4973983
-23.4821485
-23.47203
-23.4920807
-23.4935462
-23.5171958
-23.4966867
-23.492065
-23.5250058
-23.5008856
-23.4475728
-23.5250058
-23.5528101
-23.4704017
-23.5009501
-23.5448774
-23.4956739
-23.5005837
-23.5119687
-23.4750027
-23.4975077
-23.4913009
-23.5031043
-23.492065
-23.5034547
-23.4975077
-23.484777
-23.5162077
-23.4748394
-23.47203
-23.47203
-23.47203
-23.4973053
-23.4907201
-23.195376
-22.75314995
erro ocorreu em:
rua Av Virgília Rodrigues Alves De Carvalho Pinto Sao Paulo
-23.4941359
-23.5127291
-23.4756894
-23.6409056
-23.4854511
-23.4977555
-23.5109971
-23.5038827
-23.4704017
-23.5025533
-23.4869073
-23.4958982
-23.5086427
-23.550389799999998
-23.4993126
-23.4969139
-23.4638614
-23.4975077
-23.506996
-23.4826588
-23.4909516
-23.4927179
-23.4915641
erro ocorreu em:
rua Rua Alexandre Danel Sao Paulo
-23.4683147
-23.4874083
-23.5034682
-23.4872494
-23.5119499
-23.4998679
-23.5553441
-23.4872494
-23.475489
-23.5358333
-23.4679021
-23.4913009
-23.4906936
-23.5148623
-23.5010496
-23.5031768
-23.4565217
-23.4584515
erro ocorreu em:
rua Rua Angelo Richiutti Sao Paulo
-23.4872494
-23.494678
erro ocorreu em:
rua Rua Passagem Ângelo Bianchy Sao Paulo
-23.4872494
-23.4943468
-23.4872494
-23.4872494
-23.4872494
-23.4945848
-23.492767
-23.5010496
-23.4926926
-23.4872494
-23.4872494
-23.4761783
-23.4872494
-23.5026301
-23.4935462
-23.5007326
-23.4952379
-23.4872494
-23.4872494
-23.4790832
-23.4683134
-23.4937984
-23.4717407
-23.507674
-23.5492394
-23.6384822
-23.490515
-23.4821485
-23.4924779
-23.502097
-23.5137746
-23.5034547
-23.4906936
erro ocorreu em:
rua Rua Dona Estela Borges Morato Sao Paulo
erro ocorreu em:
rua Rua Albertina Vieira Da Silva Gordo Sao Paulo
-23.5492394
erro ocorreu em:
rua Rua Doutora Maria Luisa Martines Sao Paulo
-23.475775
-23.4680232
-23.47203
-23.475775
-23.475775
-23.4913009
-23.5009501
-23.5009501
-23.47203
-23.47203
-23.5449878
-23.47203
-23.4891558
-23.4891558
-23.4704017
-23.4891558
-23.5008984
-23.4665919
-23.5335818
-23.475489
erro ocorreu em:
rua Rua Doutor Artur Zaponi Sao Paulo
-23.5007326
-23.5052131
erro ocorreu em:
rua Travessa Francisco Cesário Dos Santos Sao Paulo
erro ocorreu em:
rua Nobrega De Souza Coutinho 05 Sao Paulo
-23.46812
erro ocorreu em:
rua Rua José Eduardo Raduan 5 Sao Paulo
erro ocorreu em:
rua Rua Rodolfo Bardela 335 Sao Paulo
-23.5095829
-23.4591652
-23.4620304
-23.4679021
erro ocorreu em:
rua Yedo Sao Paulo
erro ocorreu em:
rua Avenida Penha Brasil 2651 Sao Paulo
-23.5856438
-23.497698
erro ocorreu em:
rua Leôncio De Magalhães Sao Paulo
-23.502097
erro ocorreu em:
rua Sob Consulta Sao Paulo
-23.4612152
-23.7474374
-23.7474374
-23.4822246
-23.44842825
erro ocorreu em:
rua Capitão Francisco Lipi Sao Paulo
-23.4593379
-23.5038827
-23.4945971
-23.4906936
-23.1051949
-23.4664879
-30.903222
-23.4999331
-23.4887428
-23.5148623
-23.4642573
-23.4756894
-23.490986
-23.4744949
erro ocorreu em:
rua R. Maj. Ari Gomes - Vila Mazzei Sao Paulo
-23.5025533
-23.4700935
-23.4963357
-23.5109971
-23.4983459
-23.4821485
-23.4801597
-23.4927877
-23.4975077
-23.4704017
-23.4826588
-23.5034547
-23.5100637
-23.4848103
erro ocorreu em:
rua Rua Professor Belfort Roxo Sao Paulo
-23.4717915
-23.5702059
-23.4922213
-23.4667598
-23.4975077
-23.4627352
-23.4850058
-23.4586502
-23.4757097
-23.4989914
-23.5195533
-23.7396986
-23.4913009
-23.4668258
-23.4826588
-23.4959869
-23.4844332
-23.5105034
-23.4475728
-23.4895033
-23.5141533
-23.4699484
-23.4975077
-23.4975077
-23.4827559
-23.5211879
-23.4907671
-23.5372833
-23.492767
-23.480614
-23.4907001
-23.4811443
-23.5056426
-23.489283
-23.5052131
-23.5078852
-23.4862819
-23.5109971
-23.4895033
-23.4930683
-23.4779467
-23.7396986
-23.4696578
-23.514261
-23.4739404
-23.5371571
-23.4158351
-23.502097
-23.1983317
erro ocorreu em:
rua Rua Doutor José Manoel De Figueiredo Netto Sao Paulo
-23.4578887
-23.5034547
-23.4586502
-23.4975077
-23.4712438
-23.5029899
-23.6886179
-23.490515
-23.4586563
-23.510967899999997
-23.4795631
-23.5098448
-23.5052131
-23.4943468
erro ocorreu em:
rua Rua Do Bucolismo Sao Paulo
-23.4920881
-23.5060219
-23.5192975
-23.4696578
-23.4946422
-23.5038438
-23.5000677
-23.4620825
-23.5071267
-23.4948862
-23.4724694
-23.4976526
-23.4946082
-23.4913009
-23.4913009
-23.5114751
-23.4903526
-23.4768799
-23.5001292
-23.5241575
-23.5083111
-23.4873041
-23.5034547
-23.5082658
-23.4860649
-23.5492394
-23.4910488
-23.4776289
-23.502097
-23.5029025
-23.4586502
-23.4797313
-23.5486477
-23.4882237
-23.5078852
-23.5024782
-23.5064961
-23.4946082
-23.4627352
-23.6224394
-23.6258953
-23.5675864
-23.6258953
-23.6585082
-23.5955718
-23.5798303
-23.6331691
-23.6494902
-23.5857686
-23.585215
-23.5665322
-23.6494902
-23.6206476
-23.6109313
-23.598088
-23.6524657
-23.5955677
-23.5706469
-23.6450807
-23.585215
-23.5854916
-23.6290063
-23.6494902
-23.5949266
-23.6481643
-23.6552782
-23.5726072
-23.6058361
-23.577565
-23.6109313
-23.6028514
-23.6355549
-23.5599904
-23.1657874
-23.6118716
-23.6462767
-23.6051737
erro ocorreu em:
rua Rua Joel Jorge De Melo Sao Paulo
-23.5624309
-23.5838249
-23.5798303
-23.9400504
-23.618241
-23.6219003
-23.6038106
-23.6290063
-23.6418137
-23.6316405
erro ocorreu em:
rua Rua Baronesa De Bela Vista Sao Paulo
-23.6385019
-23.564845
-23.5833263
-23.5835418
-23.6261907
-23.5724156
-23.659804
-23.6520597
-23.6136598
-23.6263826
-23.5880661
-23.601622
-23.5704657
-23.6079133
-23.6393818
-23.5600344
-23.5796127
-23.5694302
erro ocorreu em:
rua Rua Gabriele D#39annunzio Sao Paulo
-23.5658775
-23.5658775
-23.5726072
-23.6494902
-23.6260912
-20.5316032
-23.6325412
-23.617401
-23.6010876
-23.6295058
-23.5838249
-23.5955677
-23.5714135
-23.598088
-23.5878139
erro ocorreu em:
rua Avenida Nossa Senhora Sabará Sao Paulo
-23.6263826
-23.655304
-23.5798303
-23.6003899
-23.5769241
-23.5959258
erro ocorreu em:
rua Rua Gabriele D#39annunzio Sao Paulo
-23.5619401
-23.5702821
-23.6009208
-23.6464161
-23.5618225
-23.5795986
-23.5706469
-23.6648476
-23.6415991
-22.8810777
-23.6196976
-23.6437871
-23.6189734
-23.5694302
-23.6079903
-23.585215
erro ocorreu em:
rua Avenida Miguel Yunes Sao Paulo
-23.585215
-23.6368966
-23.6215722
-23.6027862
-23.6484382
-23.6280776
-23.60484685
-23.6216117
-22.8810777
-23.6533017
-24.8898879
-23.0005664
-23.6430001
-23.6540609
-23.5834844
erro ocorreu em:
rua Rua Gabriele D#39annunzio Sao Paulo
-23.5724873
erro ocorreu em:
rua R. Cel. Luís Barroso Sao Paulo
-23.6020146
-23.6193135
-23.6005923
-23.6441962
-23.6337803
-23.6272674
-23.5834844
-23.5749186
-23.6343517
-23.5834844
erro ocorreu em:
rua Rua Luísa Júlia Sao Paulo
-23.6057414
-23.6081963
-23.6291552
-23.5769241
-23.5893007
1.227185
-23.5822326
-23.5970177
-23.6159515
-23.6079903
-23.5804203
-23.6219977
-24.8898879
-23.6058361
-23.5843221
-23.5883149
-23.6783355
-23.6038106
-23.6326127
-23.618402
-23.5667161
-23.6988373
-23.665513
-23.60906
erro ocorreu em:
rua Rua Coronel José Pires De Andrade Sao Paulo
-23.5714135
-23.6235972
-23.6377217
-23.6182115
-23.5619401
-23.6058361
-23.6449272
-23.5830752
-23.6117031
-23.6212177
-23.5997222
-23.6468077
erro ocorreu em:
rua Alameda Jurupis Sao Paulo
-23.654762
-23.5843221
-23.6140346
-23.6307193
-23.6384109
-23.623132
-23.6151726
-23.6502959
-23.654762
-23.5618225
-23.5742729
-23.6263826
-23.6068795
-23.6206476
-23.6736763
-23.5992999
-23.598245
-23.0945028
-23.5634235
-23.6261
-23.5976804
-23.5624046
-23.6888442
-23.5930418
-23.6484382
-23.6239154
erro ocorreu em:
rua Rua Baronesa De Bela Vista Sao Paulo
-23.5706386
-23.6189396
-23.5834844
-23.6218536
-23.6015865
-23.6241427
-23.6287779
-23.5838249
-23.6048671
-23.6462767
-23.5928389
-23.600977
-23.4495485
-23.600977
-23.6066248
-23.5842441
-23.5658775
-23.5943412
-23.6342262
-23.598088
-23.654762
-23.6268815
-23.0335348
erro ocorreu em:
rua Avenida Barão Do Melgaço Sao Paulo
-23.5632814
-23.5972032
-23.6215722
-23.6072299
-23.653897
-23.6177749
-23.5800958
-23.6553626
-23.633045
erro ocorreu em:
rua Rua Doutor Jesuíno Maciel Sao Paulo

-23.6369563
-23.6315619
-23.6141916
-23.5901441
-23.5954027
-23.6054071
-23.6731578
-23.5885599
-23.5896052
-23.5899094
-23.1657874
erro ocorreu em:
rua Rua Júlio Rua Pérez Sao Paulo
-23.5971179
-23.6520597
-23.5872215
-23.6385019
-23.6425757
-23.6033845
-23.6104775
-23.5619401
-23.6554674
-23.521664
-23.5893892
-23.6081963
-23.5616833
-23.6053513
-23.5956506
erro ocorreu em:
rua Rua Virgílio Vázea Sao Paulo
-23.6079903
-23.5859532
erro ocorreu em:
rua Rua Barão Vallim Sao Paulo
-23.6509658
-23.5883047
-23.6248557
-23.5994368
-23.632177
-23.5661752
-23.6258953
-23.5922701
-23.4622123
-23.6575128
-23.6272674
-23.5927675
-23.5742729
-23.6267542
-23.5956506
-23.5649208
-23.5927438
-23.5972897
-23.6218536
-23.6154517
-23.5742729
-23.6471385
-23.6044314
-23.6145261
-23.5742729
-23.6300622
erro ocorreu em:
rua Rua Albuquerque Sousa Muniz Sao Paulo
-23.6208856
-23.6105629
-23.6273931
-23.6134388
-23.5961649
-23.5660988
-23.9559134
erro ocorreu em:
rua Rua Francisco De Vitória Sao Paulo
-23.5710447
-23.5798303
-23.6235848
erro ocorreu em:
rua Rua Barão De Melgaço Sao Paulo
erro ocorreu em:
rua Rua Padre José Maria Ramos Sao Paulo
-23.5658775
-23.601622
-23.5993265
-23.5932752
erro ocorreu em:
rua Rua Doutor Paschoal Imperatriz Sao Paulo
-23.600977
-23.6105629
-23.1657874
-23.5714135
-23.6290063
-23.607708
-5.9075243
-23.5822326
-23.6067336
-23.631027
-23.5819068
-23.6030058
-23.60484685
-23.6461639
-23.6012527
-23.6290063
-23.654762
-23.5893892
-23.6273961
-23.602557
-23.6273961
-23.6012527
-23.5714135
-23.5528642
-23.5081912
erro ocorreu em:
rua Vila Macedópolis Sao Paulo
-23.4979671
-23.6084888
-23.5055584
-23.5039504
-23.5434182
-23.4965988
-23.5283935
-23.5312864
-23.6057243
-23.5283935
-23.4906343
-23.5311095
-23.5563082
-23.4868717
-23.4890734
-23.5581356
-23.6043093
-23.5380765
-23.4988772
-23.5334078
-23.5621964
-23.4914173
-23.5867405
-23.5353127
-23.5038606
-23.5037167
-23.5513426
-23.5598733
-23.5358195
-23.5434745
-23.521938
-23.5686674
-23.6033291
-23.5543424
-23.591995
-23.5527648
erro ocorreu em:
rua Avenida Olga Fadel Abarca Sao Paulo
-23.5361544
-23.5476999
-23.5071257
-23.5581356
-23.5473431
-23.6244352
-23.526521
-23.5739329
-23.552098
-23.5546277
-23.4734272
-23.5844456
-23.6050521
-23.6114679
-23.5427386
-23.62177
-23.5555684
-23.5510759
-23.5283935
-23.5509552
-23.5620814
-23.4966518
-23.5564624
-23.56744425
-23.5638126
-23.4974837
-23.4351151
-23.5970985
-23.5572937
-23.5972165
-23.5652616
-23.6061205
-23.518826
-23.6009124
-23.5211583
-23.5068355
-23.5476999
-23.4861494
-23.6000381
-23.5081309
-23.5877102
-23.9468443
-23.5488477
-23.5464909
-23.4983654
-23.5585094
-23.5352528
-23.5380765
-23.5272316
-23.550382
-23.5872006
-23.5301519
-21.1248242
-23.4962243
-23.5540285
-23.6033291
-23.521938
-23.5463689
-23.5045438
-23.5654527
-23.5028431
-23.5547162
-23.6232587
-23.5844456
erro ocorreu em:
rua Rua Adolfo Celi Sao Paulo
-23.5846436
-23.5977011
-23.5534455
-23.5164813
-23.5364677
-23.5774879
erro ocorreu em:
rua Rua São Giu Sao Paulo
-23.5556964
-23.5877371
-23.5438441
-23.5875709
-23.6030682
erro ocorreu em:
rua Rua Henrique De Sousa Queirós Sao Paulo
-23.6385019
-23.5383777
-23.5265264
-23.5569801
-23.5538549
-23.5283935
erro ocorreu em:
rua Rua Lucila Faria Sao Paulo
-23.5548398
-23.550446
-23.517743
-23.5867126
-23.5771376
-23.5302804
-23.5722418
-23.5927497
-23.5393049
-23.5283935
-23.5414891
-23.55507
-23.4914173
-23.592314
-23.5283935
-23.5264513
-23.5634614
-23.5380765
-23.6325566
-23.5358333
-23.5538335
-23.5695225
-23.5570655
-23.5114806
-23.5460495
-24.0184433
-23.588729

In [35]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="fabio_paulon")

def obter_latitude(rua):
    location = geolocator.geocode(rua)
    try: 
        latitude = location.latitude
    except:
        latitude = np.nan
    return latitude
        
def obter_longitude(rua):    
    location = geolocator.geocode(rua)
    try: 
        longitude = location.longitude
    except:
        longitude = np.nan
    return longitude

In [36]:
df['latitude']=df['rua'].apply(obter_latitude).astype(float)
df['longitude'] = df['rua'].apply(obter_longitude).astype(float)

In [37]:
df.head()

,zona,enderecos_lista,aluguel,area,quartos,rua,latitude,longitude
0,norte,"Rua Yvorne, Lauzane Paulista, São Paulo Zona N...",930.0,35.0,1.0,rua Rua Yvorne Sao Paulo,-23.472030,-46.642959
1,norte,"Rua Aburá, Sítio Do Mandaqui, São Paulo Zona N...",940.0,50.0,2.0,rua Rua Aburá Sao Paulo,-23.485006,-46.662995
2,norte,"Rua José Ataliba Ortiz, Vila Mangalot, São Pau...",2900.0,74.0,3.0,rua Rua José Ataliba Ortiz Sao Paulo,-23.499899,-46.743401
4,norte,"Rua Amândio Monteiro, Vila Guilherme, São Paul...",1300.0,94.0,2.0,rua Rua Amândio Monteiro Sao Paulo,-23.503212,-46.599148
5,norte,"Rua Jaguarete, Casa Verde, São Paulo Zona Nort...",1650.0,61.0,2.0,rua Rua Jaguarete Sao Paulo,-23.195376,-45.882711